body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  overflow-x: hidden; }

.ad {
  background-color: #EAFFD0;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .ad p {
    margin: 0;
    font-size: 0.8rem; }

.shop-name {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  font-size: 2rem; }

.nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  background-color: #EAFFD0;
  width: 100vw;
  height: 100%;
  z-index: 2000;
  transition: all ease-in-out 1s;
  clip-path: circle(200px at -150% -20%);
  overflow-y: scroll; }
  .nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav ul li {
      list-style: none;
      margin-top: 5rem; }
      .nav ul li .cart {
        visibility: hidden; }
      .nav ul li a {
        cursor: pointer;
        text-decoration: none;
        color: #000; }
  .nav .mobile-sns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer; }
    .nav .mobile-sns li:nth-child(1) {
      margin-right: 2rem; }

.mobile-menu-icon {
  position: fixed;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 3000;
  top: 3rem;
  left: 0.5rem; }
  .mobile-menu-icon > span {
    background-color: #fff;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: all 0.8s; }
    .mobile-menu-icon > span:last-child {
      margin-bottom: 0; }

.menu-open .nav {
  visibility: visible;
  clip-path: circle(1500px at 90% -20%); }

.menu-open .mobile-menu-icon > span {
  background-color: #95E1D3; }
  .menu-open .mobile-menu-icon > span:nth-child(1) {
    transform: translateY(11px) rotate(135deg); }
  .menu-open .mobile-menu-icon > span:nth-child(2) {
    transform: translateX(-17px) scaleX(0); }
  .menu-open .mobile-menu-icon > span:nth-child(3) {
    transform: translateY(-11px) rotate(-135deg); }

#hero::before {
  content: "";
  background-color: #FF75A0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/hero.png"); }

#hero {
  width: 100vw;
  height: 50vh;
  z-index: 10;
  text-align: center; }
  #hero .title {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif; }
    #hero .title h2 {
      margin-top: 15rem;
      margin-bottom: 0; }
    #hero .title h1 {
      margin: 0;
      font-size: 5.5rem; }

#about {
  background-color: #95E1D3;
  width: 100vw;
  height: 30rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  #about .about_p h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin: 0; }
  #about .about_img img {
    margin-top: 2rem;
    height: 10rem;
    width: auto; }

.btn {
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 40px;
  margin: 3rem 0;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #fff;
  font-size: 1.5rem; }
  .btn.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1; }
    .btn.slide-bg::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: -1; }
    .btn.slide-bg:hover {
      color: #FF75A0; }
      .btn.slide-bg:hover::before {
        transform: none; }

#cards {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60rem;
  background-color: #FF75A0; }
  #cards .category {
    position: relative;
    top: -1rem;
    height: 5rem;
    background-color: #FF75A0; }
    #cards .category h2 {
      background-color: #FF75A0;
      margin: 1rem 0 0 0;
      text-align: center;
      color: white;
      font-family: 'Montserrat Alternates', sans-serif; }
  #cards .card {
    position: relative;
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FCE38A;
    border: 2px dotted #FF75A0;
    cursor: pointer;
    transition: all 0.3s;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    #cards .card:nth-child(2) {
      border-top: none; }
    #cards .card:last-child {
      border-bottom: none; }
    #cards .card img {
      height: 8rem;
      width: auto; }
    #cards .card a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    #cards .card p {
      font-size: 1.5rem;
      color: #fff; }
  #cards .slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1; }
    #cards .slide-bg::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #95E1D3;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: -1; }
    #cards .slide-bg:hover {
      color: #000; }
      #cards .slide-bg:hover::before {
        transform: none; }

.white {
  background-color: #FCE38A; }

#share {
  position: relative;
  top: -1rem;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 10; }

.blue {
  background-color: #FF75A0; }

.pink {
  background-color: #FF75A0;
  width: 100%; }

#share {
  width: 100vw;
  background-color: #fff; }
  #share .share_p {
    color: #95E1D3;
    text-align: center; }
    #share .share_p p:nth-child(1) {
      font-weight: bold;
      color: #FF75A0; }
    #share .share_p h2 {
      font-family: 'Montserrat Alternates', sans-serif; }
  #share .slide {
    margin-top: 4rem;
    white-space: nowrap; }
    #share .slide p {
      color: #95E1D3;
      font-size: 0.8rem;
      animation: slide 20s linear infinite;
      transform: translateX(-100%); }

@keyframes slide {
  100% {
    transform: translateX(100%); } }

.pink2 {
  position: relative;
  top: -1rem;
  background-color: #fff; }

footer {
  background-color: #FF75A0; }
  footer p {
    font-size: 0.8rem;
    text-align: center;
    color: #fff; }

.mobile-footer {
  background-color: #FF75A0;
  position: relative;
  top: -1.8rem;
  text-align: center; }
  .mobile-footer .btn {
    font-size: 1rem;
    border: 1px solid #fff; }

.laprop-footer {
  display: none; }

@media (min-width: 600px) {
  #hero .title {
    font-size: 2rem; }
    #hero .title h2 {
      margin-top: 16rem; }
    #hero .title h1 {
      margin: 2rem 0 0 0;
      font-size: 7rem; }
  .btn {
    padding: 20px 60px;
    margin: 60px 0;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    border: 3px solid #fff; }
  #about {
    width: 100%;
    display: flex;
    flex-direction: row; }
    #about .about_p {
      width: 50%; }
      #about .about_p h1 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 3rem;
        margin: 2rem 0 4rem 0; }
      #about .about_p h2 {
        margin: 0 0 2rem 0;
        font-size: 2rem; }
      #about .about_p p {
        font-size: 1.5rem; }
    #about .about_img {
      width: 50%;
      margin-left: 2rem; }
      #about .about_img img {
        margin-top: 2rem;
        height: 25rem;
        width: auto; }
  #cards .category {
    top: -2rem;
    height: 6rem; }
    #cards .category h2 {
      font-size: 3rem; }
  #cards .card {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FCE38A;
    border: 2px dotted #FF75A0;
    cursor: pointer;
    transition: all 0.3s;
    padding: 1rem 0 1rem 0; }
    #cards .card img {
      height: 9rem;
      width: auto; }
    #cards .card a {
      font-size: 2rem;
      color: #fff;
      text-decoration: none; }
  #share {
    background-color: #fff; }
    #share .share_p h2 {
      font-size: 3rem; }
    #share .share_p p {
      font-size: 1.5rem; }
    #share .slide p {
      font-size: 1rem; } }

@media (min-width: 1260px) {
  .ad p {
    font-size: 1rem; }
  .mobile-menu-icon {
    display: none; }
  header {
    position: sticky;
    top: 0;
    z-index: 20000;
    background-color: #FF75A0;
    display: flex;
    justify-content: center;
    height: 5rem;
    border-bottom: 2px dotted #fff; }
  .nav {
    position: absolute;
    visibility: visible;
    background-color: transparent;
    width: 95vw;
    height: 10rem;
    top: -3rem;
    z-index: 2000;
    overflow-y: visible;
    clip-path: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline; }
    .nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .nav ul li {
        list-style: none;
        margin-top: 5rem;
        margin-left: 1rem; }
        .nav ul li .cart {
          visibility: visible;
          width: 1.5rem; }
        .nav ul li a {
          cursor: pointer;
          text-decoration: none;
          color: #fff;
          font-size: 1.2rem; }
    .nav .mobile-sns {
      display: none; }
    .nav .name {
      margin: 0;
      display: inline-block; }
  #hero::before {
    background-size: 80rem; }
  #hero {
    height: 80vh; }
    #hero .title {
      font-size: 2rem; }
      #hero .title h2 {
        margin-top: 10rem;
        margin-bottom: 0; }
      #hero .title h1 {
        margin: 0;
        font-size: 10rem; }
  #about {
    width: 100%;
    align-items: center;
    padding: 5rem 0 0 0; }
    #about .about_p {
      margin-right: 10rem; }
      #about .about_p h1 {
        font-size: 4rem;
        margin: 2rem 0 4rem 0; }
      #about .about_p h2 {
        font-size: 3rem; }
      #about .about_p p {
        font-size: 2rem; }
    #about .about_img {
      margin-left: 10rem; }
      #about .about_img img {
        margin-top: 2rem;
        height: 30rem;
        width: auto; }
  #cards {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40rem;
    background-color: #FF75A0;
    justify-content: center;
    align-items: center;
    align-content: flex-start; }
    #cards .category {
      display: inline-block;
      width: 100%; }
    #cards .card {
      flex-basis: calc(100% - 50%);
      height: 14rem;
      border: none; }
  .white {
    position: relative;
    top: -3rem; }
  #share {
    position: relative;
    top: -5rem; }
  .pink2 {
    position: relative;
    top: -5rem; }
  .mobile-footer {
    display: none; }
  footer {
    position: relative;
    width: 100vw;
    height: 10rem;
    top: -7rem; }
    footer .laprop-footer {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .laprop-footer ul {
        display: flex;
        list-style: none; }
        footer .laprop-footer ul li {
          margin-left: 1rem; }
          footer .laprop-footer ul li a {
            color: #fff;
            text-decoration: none; }
    footer p {
      text-align: center;
      color: #fff; } }
